.footer {
  color: #2b2b2b;
  text-align: end;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
  text-decoration: overline;
}

.social-links {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
}

.social-links a {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
  color: #f98322;
  transform: translateY(-3px);
}

.icon {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .footer p {
    font-size: 0.8rem;
  }
  .social-links {
    justify-content: center;
    padding: 0.5rem 0;
  }
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
