.about-header {
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: bold;
}

.marquee {
  background-color: var(--text-color);
  color: white;
  padding: 0.8rem 0;
  overflow: hidden;
  align-items: center;
}

.marquee p {
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
}

.marquee span {
  color: var(--primary-color);
}

.about-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.about-page img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.about-page p {
  font-size: 1.2rem;
  color: var(--secondary-color);
  max-width: 600px;
  text-align: center;
}

.about-image-container img {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.about-page.animate .about-par-container p {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .about-page {
    flex-direction: column;
  }
}
